/*Colores base*/
:root{
	--bg-color:white;
	--text-color: black;
}

/*Modo obscuro*/
.dark-mode{
	--bg-color:#121212;
	--text-color:#f0f0f0;
}

body{
	 background-color: var(--bg-color);
	 color: var(--text-color);
	  transition: background-color 0.3s ease, color 0.3 ease;
}